{% extends 'layouts/user-model.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}


<div class="container">
    <div class="row">

        {% if request.user.groups.all.0.name == "Admin" %}

        <div class="col-md-12">
            <h1>Dashboard</h1>
        </div>

        {% else %}

        <div class="col-md-6 mx-auto">
            <h3 class="mt-5 mb-3">Ação não permitida</h3>
            <hr>
            <p class="lead">
                <strong>
                    Sua conta não tem acesso a esta página. Para prosseguir,
                    por favor faça login com uma conta que tenha acesso.
                </strong>
            </p>
        </div>

        {% endif %}

    </div>
</div>
{% endblock %}