/*________________________________GENERAL________________________________*/
* {
    margin: 0;
    padding: 0;
}
/*________________________________Messages________________________________*/
ul.messages {
    text-align: center;
    padding: 0;
}
ul.messages li {
    list-style: none;
}
.main{
    min-height: 575px;
}
.card{
    margin: 5px 0;
    box-shadow: 5px 5px 5px lightgray;
}
.main p{
    margin: 5px;
}
.button a{
    margin-top: 5px;
}