{% extends 'layouts/user-model.html' %}

{% load static %}

{% block title %}Crie seu currículo{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}


<div class="row">
    {% if resumes %}
    <div class="col-md-6 mx-auto">
        <h3 class="mt-5 mb-3">Ação não permitida</h3>
        <hr>
        <p class="lead">
            <strong>
                Houve algum problema para processar a ação desejada ou você não tem permissão para isso.
            </strong>
        </p>
    </div>
    {% else %}
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center mt-3 mb-3">Crie seu currículo</h3>

                <form method="POST" class="needs-validation" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="form-group mb-3">
                        <label for="image" class="form-label">Foto*</label>
                        <input type="file" name="image" id="image" class="form-control-file">
                    </div>

                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Nome*</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group mb-3">
                        <label for="birth_date" class="form-label">Data de nascimento*</label>
                        <input type="date" class="form-control" name="birth_date" id="birth_date">
                    </div>

                    <div class="form-group mb-3">
                        <label for="phone_number" class="form-label">Número celular*</label>
                        <input type="tel" class="form-control" name="phone_number" id="phone_number">
                    </div>

                    <div class="form-group mb-3">
                        <label for="city" class="form-label">Cidade*</label>
                        <input type="text" class="form-control" name="city" id="city">
                    </div>

                    <div class="form-group mb-3">
                        <label for="course" class="form-label">Curso*</label>
                        <select name="course" id="course" class="form-control">
                            <option value="Desenvolvimento de Sistemas">Desenvolvimento de Sistemas</option>
                            <option value="Logistica">Logistica</option>
                        </select>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block">Criar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}