{% extends 'layouts/user-model.html' %}

{% load static %}

{% block title %}Sair{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h3 class="mt-5 mb-4">Sair</h3>
                    <p class="mb-4">Você tem certeza que deseja sair?</p>

                    <form method="POST">
                        {% csrf_token %}

                        <button type="submit" class="btn btn-danger btn-block">Sair</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}