{% extends 'layouts/main.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Cadastre-se{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="card">
        <div class="card-body">

            <h3 class="title text-center">Currículos - <img src="{% static 'img/logo-ete.png' %}" width="60"
                    alt="logo ete"></h3>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form class="form-control" action="" method="POST" autocomplete="OFF">
                {% csrf_token %}
                <div class="sub-title text-center">
                    <h4>
                        Cadastre-se
                    </h4>
                </div>
                {{ form|crispy }}
                <!-- <div class="input">
                        <div class="input-group">
                            <span class="input-group-text btn btn-secondary" id="basic-addon1"><i
                                    class="bx bx-user"></i></span>
                            <input class="form-control" type="text" name="user" id="user" placeholder="Usuário">
                        </div>
                    </div>
                    <div class="input">
                        <div class="input-group">
                            <span class="input-group-text btn btn-secondary" id="basic-addon1"><i
                                    class="bx bx-lock"></i></span>
                            <input class="form-control" type="password" name="password" id="password" placeholder="Senha">
                        </div>
                    </div>-->
                <div class="button-display text-center">
                    <button class="btn btn-primary">Entrar</button>
                </div>
            </form>
            <div class="register text-center">
                <p>Já possui uma conta? <a href=" {% url 'account_login' %}">Faça Login!</a></p>
            </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}